@import "css/button";
@import "css/constants";

.addresslinks{
  display: flex;
  gap: 45px;
  flex-wrap: wrap;
  .content{
    display: flex;
    align-items: center;
    transition: 1s;
    &:hover{
      transform: scale(1.05);
      }
    img{
      margin-right: 10px;
    }
    a{
      font-family: "WS Regular", serif;
      white-space: nowrap;
    }
  }
  @media (max-width: 420px){
    gap: 10px;
  }
}