@use "css/constants" as color;

.whatwedosection{
  text-align: center;
  margin-top: 40px;
  & .subtitle{
    font-size: 35px;
    color: color.$red;
  }
  ._content{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    ._element{
      width: 30%;
      h5{
        margin: 20px 0;
      }
    }
  }
}