@import "./constants.scss";
$small: 31px;
$medium: 37px;
$bold: 55px;

@mixin button($padd, $bgd, $text) {
  padding: 22px $padd;
  list-style: none;
  background: $bgd;
  border-radius: 34px;
  color: $text;
  transition: 1s;
  @if $bgd == none {
    border: 2px solid $black;
  }
  &:hover{
    @if $bgd != none {
      background-color: rgba($bgd, 0.8);
    }
    @if $bgd == none {
      background-color: rgba($red, 0.8);
      color: $white;
    }
  }
}