@font-face {
  font-family: 'WS Regular';
  src: local('WS Regular'), url(../assets/fonts/WorkSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'WS Medium';
  src: local('WS Medium'), url(../assets/fonts/WorkSans-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'ShM Bold';
  src: local('ShM Bold'), url(../assets/fonts/ShipporiMincho-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'SueEF';
  src: local('SueEF'), url(../assets/fonts/SueEllenFrancisco-Regular.ttf) format('truetype');
}