@use "css/constants" as color;
@import "css/button";

.formpopupsubmitsuccess{
  position: absolute;
  width: 100%;
  padding: 100px;
  background-color: rgba(color.$blue, 0.5);
  ._content{
    text-align: center;
    .closebtn{
      @include button($small, color.$red, color.$white);
      padding: 4px 7px;
      border: none;
      position: absolute;
      top: 1rem;
      right: 1rem;
      transition: 2s;
      &:hover{
        background: color.$black;
      }
    }
  }
}