.licensescontentsection{
  span{
    font-family: 'WS Regular', serif;
    font-size: 20px;
    line-height: 130%;
  }
  p{
    margin-bottom: 15px;
  }
  .__title{
    margin-bottom: 60px;
  }
  .__prev{
    margin-bottom: 50px;
  }
  .__content-title{
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .__content-prev{
    margin-bottom: 25px;
  }
}