@use "css/constants" as color;
@import "css/button";

.faq_block {
  width: 100%;
  padding-bottom: 25px;
  animation: fadeIn 2s;
  & > ._flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    h4 {
      cursor: pointer;
    }
    & > button {
      border-radius: 50%;
      padding: 5px 10px;
      color: color.$black;
      background: color.$click;
      &.toggleBg {
        background: color.$red;
      }
    }
  }
  .faq_answer {
    animation: fadeIn 2s;
    margin: 10px 0;
  }
  hr {
    background-color: color.$click;
    height: 1px;
    margin: 20px 0 0 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
